header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 clamp(.5rem,10%,2rem);
    top:0;
    transition: 0.3s;
    width:100%;
    
    background-color: $main_color;
    height: 4.375em;
    z-index: 2;
 
    img{
        max-height: 3.125em;
    }
}
