html, *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    margin: 1.5rem 0;
}
h2{
    margin: 0.625rem 0 3.125rem 0;
}
h3{
    margin-bottom:1rem;
}
h4{
    margin-top: 0.625rem;
}
a{
    text-decoration: none;
}
li{
    list-style-type:none;
}