$main_color:#082032;
$gray_shade:#2C394B;
$light_gray:#97a0b0;
$accent_color:lighten(#F73859,5%);
/*#f73e5e*/
$font_color:#DBEDF3;

$line_height_md:1.4;
$line_height_l:1.6;

$width_xs:20em;
$width_sm:48em;
$width_md:75em;
$width_xl:112.5em;



$section_width_sm:0;
$section_width_md:0;
$cta_width_mobile:0;

$border-radius:5px;
$line_height:1.6;
/*6B778D*/